<!DOCTYPE html>
<html>
<head>
	<title>ebrpg</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="lib/pixi.js"></script>
	<script src="lib/vue.js"></script>
</head>
<body>
<div id="wrapper">
	<header>
		<nav>
			<button
			v-for="screen in screens"
			@click="activeScreen=screen"
			:class="{active: activeScreen===screen}"
			v-text="screen.name"
			></button>
		</nav>
	</header>
	<section id="content">
		<main id="main">
			<div class="nav-screen"
			v-for="screen in screens"
			:style="{display: activeScreen===screen?'block':'none'}"
			:is="screen.component"
			></div>
		</main>
		<aside id="tiles">tiles</aside>
	</section>
</div>
<script src="game/engine/layout.js"></script>
</body>
</html>